Data/
.venv/
/checkpoints/test_outputs/
/checkpoints/*.wav
/checkpoints_rtsewd/*.wav
/Application/__pycache__/
/checkpoints_rtsewd/test_outputs/
clean_testset_wav/
clean_trainset_28spk_wav/
noisy_testset_wav/
noisy_trainset_28spk_wav/
